@font-face {
  font-family: "Noteworthy";
  src: url("./fonts/Noteworthy-Lt.woff");
}
@font-face {
  font-family: "Cambria";
  src: url("./fonts/Cambria.ttf");
}

$font1: "Noteworthy";
$font2: "Cambria";

$colour1: #738678;
$colour2: #f3f3f3;
$colour3: #111111;

$padding1: 6px 6%;

$banner-height: 90px;
